<div id="navbar">
	<div class="pos-f-t">
		<div class="collapse" id="navbarMenu">
			<div class="bg-dark p-4">
				<!--content navbar-->
				<div class="row" style="justify-content: space-between">
					<div>
						<ul>
							<li>categories</li>
							<li>categories</li>
							<li>categories</li>
							<li>categories</li>
							<li>categories</li>
						</ul>
					</div>
					<div><h2>Slider</h2></div>
				</div>
			</div>
		</div>
		<nav class="navbar navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
	</div>
</div>


<div class="content">
	<h2>content</h2>
</div>