
.content {
  background: #ffffff;
  text-align: center;

  .products {

    .out-item {
      display: flex;
      flex-wrap: wrap;

      .btns {
        justify-content: space-around;

        button {
          font-size: 13px;
        }
      }

      .item {
        margin-top: 30px;

        &:hover .body {
          box-shadow: 0 0 5px 5px #cceaff;
        }
      }

    }

    h6 {
      width: 100%;
      text-align: left;
    }
  }
}

#navbar {

}

